:root {
  --appear-bezier: cubic-bezier(0.32, 0.42, 0.08, 0.79);
}

@media (min-width: 768px) {
  @media (prefers-reduced-motion: no-preference) {
    .footer,
    .cta-section {
      opacity: 0;
    }
    .footer__inview,
    .cta-section__inview {
      animation: appearFromBottom 1.125s var(--appear-bezier) forwards;
    }
  }
}

@keyframes appearFromBottom {
  from {
    opacity: 0;
    transform: translateY(10svh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-sm {
  animation-delay: 0.25s;
}
.delay-md {
  animation-delay: 0.5s;
}
.delay-lg {
  animation-delay: 1s;
}

.appear {
  opacity: 0;

  @media (max-width: 767px) {
    animation: appear 0.5s ease-out forwards;
  }
  &.active {
    animation: appear 0.5s ease-out forwards;
  }

  @media (prefers-reduced-motion: no-preference) {
    &.hero-image-appear {
      animation-delay: 1.5s;
      animation: appearFromBottom 0.5s cubic-bezier(0.19, 0.5, 0.41, 0.96)
        forwards;
    }
  }

  &.appear-delay-150 {
    animation-delay: 1.5s;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .staggered-letter-word {
    overflow: hidden;
    padding-bottom: 0.1em;
    margin-bottom: -0.1em;
    transform-origin: bottom;
    display: inline-block;

    .stagger-animation & {
      transform: translateY(100%);
    }

    --slide-animation: letterSlideUp 0.5s cubic-bezier(0.19, 0.5, 0.41, 0.96)
      forwards;
    --slide-animation-delay: calc(
      500ms + var(--staggered-sentence) * var(--stagger-length) *
        var(--stagger-length) * 3ms + var(--stagger-index) * 60ms
    );
    --slide-animation-paragraph-duration: 0.3s;
    --slide-animation-delay-paragraph: calc(
      var(--staggered-sentence) * 25ms + var(--staggered-sentence) *
        var(--stagger-length) * var(--stagger-length) * 0.75ms +
        var(--stagger-index) * 30ms
    );
  }

  /* best for single words on display titles */
  .stagger-animation {
    &.active .staggered-letter-word {
      animation: var(--slide-animation);
      animation-delay: var(--slide-animation-delay);
    }
    /* on mobile we don't have an active property - since no lenis */
    @media (max-width: 768px) {
      & .staggered-letter-word {
        animation: var(--slide-animation);
        animation-delay: var(--slide-animation-delay);
      }
    }
  }

  /* best for paragraphs */
  .stagger-animation-long {
    &.active .staggered-letter-word {
      animation-duration: var(--slide-animation-paragraph-duration);
      animation-delay: var(--slide-animation-delay-paragraph);
    }
    /* on mobile we don't have an active property - since no lenis */
    @media (max-width: 768px) {
      & .staggered-letter-word {
        animation-duration: var(--slide-animation-paragraph-duration);
        animation-delay: var(--slide-animation-delay-paragraph);
      }
    }
  }
}

@keyframes letterSlideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
