:root {
  --appear-bezier: cubic-bezier(0.32, 0.42, 0.08, 0.79);
}

@media (min-width: 768px) {
  @media (prefers-reduced-motion: no-preference) {
    .footer,
    .cta-section {
      opacity: 0;
    }
    .footer__inview,
    .cta-section__inview {
      animation: appearFromBottom 1.125s var(--appear-bezier) forwards;
    }
  }
}

@keyframes appearFromBottom {
  from {
    opacity: 0;
    transform: translateY(10svh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-sm {
  animation-delay: 0.25s;
}
.delay-md {
  animation-delay: 0.5s;
}
.delay-lg {
  animation-delay: 1s;
}

.appear {
  opacity: 0;

  @media (max-width: 767px) {
    animation: appear 0.5s ease-out forwards;
  }
  &.active {
    animation: appear 0.5s ease-out forwards;
  }

  &.hero-image-appear {
    animation-delay: 1.5s;
    animation: appearFromBottom 0.5s cubic-bezier(0.19, 0.5, 0.41, 0.96)
      forwards;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .staggered-letter-word {
    overflow: hidden;
    padding-bottom: 0.1em;
    margin-bottom: -0.1em;
    transform-origin: bottom;
    display: inline-block;
  }

  /* best for single words on display titles */
  .stagger-animation {
    & .staggered-letter-word {
      transform: translateY(100%);
    }

    &.active .staggered-letter-word {
      animation: letterSlideUp 0.5s cubic-bezier(0.19, 0.5, 0.41, 0.96) forwards;
      animation-delay: calc(
        500ms + var(--staggered-sentence) * var(--stagger-length) *
          var(--stagger-length) * 3ms + var(--stagger-index) * 60ms
      );
    }

    @media (max-width: 768px) {
      & .staggered-letter-word {
        animation: letterSlideUp 0.5s cubic-bezier(0.19, 0.5, 0.41, 0.96)
          forwards;
        animation-delay: calc(
          500ms + var(--staggered-sentence) * var(--stagger-length) *
            var(--stagger-length) * 3ms + var(--stagger-index) * 60ms
        );
      }
    }
  }

  /* best for paragraphs */
  .stagger-animation-long {
    &.active .staggered-letter-word {
      animation-duration: 0.3s;
      animation-delay: calc(
        var(--staggered-sentence) * 25ms + var(--staggered-sentence) *
          var(--stagger-length) * var(--stagger-length) * 0.75ms +
          var(--stagger-index) * 30ms
      );
    }
    @media (max-width: 768px) {
      & .staggered-letter-word {
        animation-duration: 0.3s;
        animation-delay: calc(
          var(--staggered-sentence) * 25ms + var(--staggered-sentence) *
            var(--stagger-length) * var(--stagger-length) * 0.75ms +
            var(--stagger-index) * 30ms
        );
      }
    }
  }
}

@keyframes letterSlideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
